<%= form_for(@shareholder_confirmation) do |f| %>
  <% if @shareholder_confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shareholder_confirmation.errors.count, "error") %> prohibited this shareholder_confirmation from being saved:</h2>

      <ul>
      <% @shareholder_confirmation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Welcome!</h2>
  <p>We need to do a one-time confirmation that you are a CHAOC shareholder.</p>
<p>Please complete the following form, and be sure to enter your name <i>exactly</i> as it appears in your shareholder records.</p>

  <div class="field">
    <%= f.label :sh_firstname, "First Name" %><br>
    <%= f.text_field :sh_firstname %>
  </div>
  <div class="field">
    <%= f.label :sh_mi, "Middle Initial (Optional)" %><br>
    <%= f.text_field :sh_mi %>
  </div>
  <div class="field">
    <%= f.label :sh_last_name, "Last Name" %><br>
    <%= f.text_field :sh_last_name %>
  </div>
  <div class="field">
    <%= f.label :sh_bldg, "Building Number" %><br>
    <%= f.number_field :sh_bldg %>
  </div>
  <div class="field">
    <%= f.label :notes, "Any additional Notes/Info" %><br>
    <%= f.text_area(:notes, size: '50x10') %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Confirmation Info" %>
  </div>
<% end %>
