<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @proxy_vote.year %>
</p>

<p>
  <strong>Count:</strong>
  <%= @proxy_vote.count %>
</p>

<p>
  <strong>Building:</strong>
  <%= Building.find(@proxy_vote.building_id).name %>
</p>

<%= link_to 'Edit', edit_proxy_vote_path(@proxy_vote) %> |
<%= link_to 'Back', proxy_votes_path %>
